@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

// .ant-layout {
//   min-height: 100vh;
//   background: none;
// }

canvas {
  // display: block;
  display: flex;
  justify-content: space-between;
}

body {
  font-family: PingFangSC-Regular, PingFang SC;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}

.ant-pro-global-header {
  padding: 0 16px 0 0;
}

// //左侧菜单栏
@primary-color: #FC860E;
@font-color-45: rgba(0, 0, 0, 0.45);
@font-color-65: rgba(0, 0, 0, 0.65);
@font-color-85: rgba(0, 0, 0, 0.85);
.ft12{
  font-size: 12px;
}
.ft14{
  font-size: 14px;
}
.fw550{
  font-weight: 550;
}
.fw400{
  font-weight: 400;
}
.cl45{
  color:@font-color-45
}
.cl65{
  color:@font-color-65
}
.cl85{
  color:@font-color-85
}
.lh18{
  line-height: 18px;
}
.lh20{
  line-height: 20px;
}
.lh22{
  line-height: 22px;
}
h4{
  font-family: PingFangSC-Medium, PingFang SC;
  font-size: 14px;
  line-height: 22px;
  font-weight: 550;
  margin-bottom: 16px;
}
h5{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 8px;
}

aside{
  &.ant-pro-sider.ant-layout-sider-collapsed .ant-pro-sider-logo{
    padding: 14px;
  }
  .ant-layout-sider-children{
    background-color: #F5F5F5;
    
    .ant-pro-sider-logo{
      padding: 14px;
      a{
        min-height: 25px;
        img{
          width: 20px;
        }
        h1{
          height: 25px;
          margin-left: 8px;
          font-size: 18px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #333333;
          line-height: 25px;
        }
      }
    }
    div{
      .ant-menu-dark{
        >li{
          min-height: 38px;
          line-height: 38px;
          padding-bottom: 0;
        }
        >li:hover{
          .ant-menu-submenu-title,.ant-menu-submenu-title.ant-menu-submenu-selected{
            .ant-menu-submenu-arrow::before,.ant-menu-submenu-arrow::after{
              background-color: rgba(0, 0, 0, 0.45);
            }
            span,svg,a{
              color: @font-color-85;
            }
          }
        }
        .ant-menu-submenu-selected{
          div{
            .ant-menu-submenu-arrow::before,.ant-menu-submenu-arrow::after{
              background-color:@primary-color;
            }
            span,svg,a{
              color:@primary-color;
            }
          }
          &:hover{
            .ant-menu-submenu-title,.ant-menu-submenu-title.ant-menu-submenu-selected{
              .ant-menu-submenu-arrow::before,.ant-menu-submenu-arrow::after{
                background-color:@primary-color;
              }
              span,svg,a{
                color:@primary-color;
              }
            }
          }
        }
        .ant-menu-submenu-open{
          .ant-menu-submenu-arrow::before,.ant-menu-submenu-arrow::after{
            background-color:rgba(0, 0, 0, 0.45);
          }
          span,svg,a{
            color:@font-color-85;
          }
          ul{
            li{
              a{
                color: @font-color-65;
              }
            }
            .ant-menu-item-selected,.ant-menu-item-active{
              .ant-menu-submenu-arrow::before,.ant-menu-submenu-arrow::after{
                background-color:white;
              }
              span,svg,a{
                color: white;
              }
            }
          }
        }
      }
    }
    
    .ant-pro-sider-links{
      color:black;
      .ant-menu{
        padding:8px;
        .ant-menu-item{
          border-top:none;
          color: @font-color-65;
          height: 32px;
          min-height: 32px;
          line-height: 32px;
          background: rgba(0, 0, 0, 0.06);
          border-radius: 2px;
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          span{
            display: inline;
            font-size: 12px;
            line-height: 32px;
            svg{
              font-size: 12px;
              min-width: 12px;
              height: auto;
            }
          }
          
        }
      }
     
    }
  }
  
}


